html{
  font-size:16px;
  font-family:"Verdana", sans-serif;
}

#mobile{
  display:none;
}
.canvas{
  max-width:1000px;
  margin:0 auto;
}
.container_desktop{
  display:flex;
  flex-direction:row;
  align-items:center;
}

.container2{
  display:flex;
  flex-direction:row;
  align-items:flex-start;
}
.header_image{
  margin-left:24px;
}
.header_title{
  margin:16px;
  padding-top:8px;
  width:52%;
}
.header_title p{
  height:32px;
  font-size:1rem;
}
#title{
  font-weight:800;
}
.link{
  display:inline-flex;
  margin-right:24px;
  float:right;
}
.link span{
  margin:16px;
}

.banner{
  background-color:#DCDCDC;
}
.banner img{
  width:85%;
  height:auto;
  margin:32px 90px 32px 24px;
}
.banner h1{
  font-size:1.5rem;
  font-weight:800;
  width:60%;
/* position:relative; */
/*  right:180px; */
  margin-bottom:24px;
}
.banner p{
  font-size:1rem;
  font-weight:500;
  width:60%;
 /*  position:relative; */
 /*  right:180px; */
}
.button{
  background-color:#696969;
  margin-top:24px;
  width:60%;
 /*  position:relative; */
 /*  right:180px; */
}
.button p{
  color:white;
  text-align:center;
  width:100%;
  padding:8px 0;
}

.main{
  display:flex;
  flex-direction:column;
  width:50%;
}
.main_left img{
  width:87%;
  height:auto;
  margin:16px 24px;

}
.main_left h1{
  width:87%;
  font-size:1.5rem;
  font-weight:700;
  margin:16px 24px 32px 24px;
}
.main_left p{
  width:87%;
  font-size:0.5rem;
  font-weight:300;
  margin:24px 24px;
}
.main_right{
  display:flex;
  flex-direction:row;
  align-items: center;
  margin-top:16px;
}
.main_right img{
  width:25%;
  height:auto;
  margin-bottom:16px;
  position:relative;
  left:12px;
}
.main_right h2{
  width:100%;
  font-size:1rem;
  font-weight:600;
  position:relative;
  left:40px;
  margin-bottom:12px;
}
.main_right p{
  width:100%;
  font-size:0.5rem;
  font-weight:300;
  position:relative;
  left:40px;
  margin-bottom:12px;
}
#read_more{
  color:blue;
}
.learning{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  margin-top:32px;
}
#learning{
  background-color:#DCDCDC;
  padding-top:32px;
}
#learning h1{
  font-size:1.5rem;
  font-weight:700;
  text-align:center;
  margin-bottom:32px;
}
.courses{
  width:25%;
  margin-bottom:32px;
  margin-left:16px;
  margin-right:16px;
}
.courses img{
  width:100%;
  height:auto;
  margin-bottom:16px;
}
.courses h2{
  width:100%;
  font-size:1rem;
  font-weight:600;
  padding-left:16px;
}
.courses p{
  width:75%;
  font-size:0.5rem;
  font-weight:300;
  margin-top:8px;
  padding-left:16px;
}
#thesis{
  padding-top:32px;
}
#thesis h1{
  font-size:1.5rem;
  font-weight:700;
  text-align:center;
  margin-bottom:16px;
}
.main_left video{
  width:87%;
  height:auto;
  margin:16px 24px 24px 24px;
}
.main_left h2{
  width:87%;
  font-size:1rem;
  font-weight:600;
  margin:24px 24px;
}
footer{
  font-size:0.5rem;
  margin-left:24px;
  margin-top:24px;
  margin-bottom:24px;
}
.footer_title{
  width:80%;
}
footer span a{
  margin-left:24px;
  float:right;
}
